@font-face {
    font-family: 'FugazOne';
    src: url(../fonts/Montauk-Regular/Fugaz_One/FugazOne-Regular.ttf);
}
@font-face {
    font-family: 'Montauk-Bold';
    src: url(../fonts/Montauk-Regular/Montauk-Bold.otf);
}
@font-face {
    font-family: 'Montauk-Italic';
    src: url(../fonts/Montauk-Regular/Montauk-Italic.otf);
}
@font-face {
    font-family: 'Montauk-Light';
    src: url(../fonts/Montauk-Regular/Montauk-Light.otf);
}
@font-face {
    font-family: 'Montauk-Regular';
    src: url(../fonts/Montauk-Regular/Montauk-Regular.otf);
}



body {
    background-image: url(../assets/RestaurantMockupFiles/assets/bgtexture.jpg);
}

.navBarFont {
    font-size: 20px;
    font-family: 'FugazOne';
    color: #5F002B;


}

/* catering styling start */
.cateringTitle {
    background-color: #FFFFFF;
    color: #5F002B;
    text-align: center;
    font-size: 50px;
    font-family: 'FugazOne';
    padding-bottom: 5px;

}

.caterText {
    background-color: #FFFFFF;
    color: #5F002B;
}

.caterTextHead {
    font-size: 25px;
    font-family: 'FugazOne';
}

.caterTextBody {
    font-size: 10px;
    font-family: 'Montauk-Regular';
}

.caterResizeEnd {
    width: 100%;
}

.caterEndImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footLeft{
    text-align: left;
    color: #5F002B;
    font-family: 'Montauk-Regular';
}
.footRight{
    text-align: right;
    color: #5F002B;
    font-family: 'Montauk-Regular';
}
.footImg{
    width: 15%;
}

/* catering styling end */

/* Photo Styling start */

.gridImage{
    width: 50%;
    border: 5px solid white;
    transform: scale(95%);
    padding: 0%; 
}
/* Photo Styling End */